*.gz filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.fasta filter=lfs diff=lfs merge=lfs -text
gmsc_amp_genes_envohr_source.tsv.gz filter=lfs diff=lfs merge=lfs -text
prevotella_species_list.tsv.gz filter=lfs diff=lfs merge=lfs -text
reduced_metadata.tsv.gz filter=lfs diff=lfs merge=lfs -text
AMPSphere_v.2022-03.annotation.tsv.gz filter=lfs diff=lfs merge=lfs -text
ampsphere_v2022-03.features.tsv.gz filter=lfs diff=lfs merge=lfs -text
db_motif.tsv.gz filter=lfs diff=lfs merge=lfs -text
merged_to_recipient_samples_pre.tsv.gz filter=lfs diff=lfs merge=lfs -text
samples-min500k-assembly-prodigal-stats.tsv.gz filter=lfs diff=lfs merge=lfs -text
general_envo_names.tsv.gz filter=lfs diff=lfs merge=lfs -text
STsORFs_candidates.txt.gz filter=lfs diff=lfs merge=lfs -text
taxonomy_annotation.tsv.gz filter=lfs diff=lfs merge=lfs -text
quality_candidates.txt.gz filter=lfs diff=lfs merge=lfs -text
quality_families.txt.gz filter=lfs diff=lfs merge=lfs -text
SmProt_candidates.txt.gz filter=lfs diff=lfs merge=lfs -text
gmgc_candidates.txt.gz filter=lfs diff=lfs merge=lfs -text
merged_to_recipient_samples_post.tsv.gz filter=lfs diff=lfs merge=lfs -text
metadata.tsv.gz filter=lfs diff=lfs merge=lfs -text
output_clustering_significance_levelIII.tsv.gz filter=lfs diff=lfs merge=lfs -text
macrel_trainpos.features.tsv.gz filter=lfs diff=lfs merge=lfs -text
merged_to_donor_samples.tsv.gz filter=lfs diff=lfs merge=lfs -text
SPHERE_v.2022-03.levels_assessment.tsv.gz filter=lfs diff=lfs merge=lfs -text
starPepDB_candidates.txt.gz filter=lfs diff=lfs merge=lfs -text
complete_amps_associated_taxonomy.tsv.gz filter=lfs diff=lfs merge=lfs -text
dramp_candidates.txt.gz filter=lfs diff=lfs merge=lfs -text
dramp_v3.features.tsv.gz filter=lfs diff=lfs merge=lfs -text
high_quality_candidates.txt.gz filter=lfs diff=lfs merge=lfs -text
output_clustering_significance_levelII.tsv.gz filter=lfs diff=lfs merge=lfs -text
output_clustering_significance_levelI.tsv.gz filter=lfs diff=lfs merge=lfs -text
pgenomes_samples.tsv.gz filter=lfs diff=lfs merge=lfs -text
quality_assessment.tsv.gz filter=lfs diff=lfs merge=lfs -text
AMPSphere_v.2022-03.fna.xz filter=lfs diff=lfs merge=lfs -text
bac120_GTDB.tsv.xz filter=lfs diff=lfs merge=lfs -text
bps-per-taxon.tsv.xz filter=lfs diff=lfs merge=lfs -text
result_gmgc.m8.xz filter=lfs diff=lfs merge=lfs -text
adjust_significant_function.csv.xz filter=lfs diff=lfs merge=lfs -text
amp_COG.tsv.xz filter=lfs diff=lfs merge=lfs -text
amps_per_assembled_Gbp_per_taxon.tsv.xz filter=lfs diff=lfs merge=lfs -text
37185.fasta filter=lfs diff=lfs merge=lfs -text
